.catalog_block_content {
  height: 1644px;
  display: flex;
}
.catalog_block_left {
  width: 243px;
  margin-top: 59px;
}
.catalog_details summary {
  border-left: solid 5px #ef5b70;
  border-bottom: solid 1px #e8e8e8;
  color: #ef5b70;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 37px;
  padding-left: 11px;
}
.catalog_details_ul {
  list-style-type: none;
  margin: 9px 0 0 22px;
}
.catalog_details_ul li a {
  text-decoration: none;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 33px;
}
.catalog_details_ul li a:hover {
  color: #ef5b70;
}
.catalog_details {
  margin-bottom: 18px;
  cursor: pointer;
  width: 237px;
}
details:focus,
summary:focus {
  outline: 0;
  outline: none;
}
.catalog_setting {
  height: 245px;
  margin-left: 50px;
  margin-top: 71px;
}
.catalog_setting_trend h3 {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.catalog_setting_trend p {
  color: #6f6e6e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
.catalog_setting_trend p span {
  color: #dfdfdf;
  margin: 0 9px;
}
.catalog_setting_size form {
  color: #6f6e6e;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
}
.catalog_setting_size h3 {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 27px;
}
.catalog_setting_size form:nth-child(2) {
  margin-top: 10px;
}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  margin-bottom: 5px;
  display: inline-block;
  font-size: 14px;
  color: #6f6e6e;
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  width: 44px;
}
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 5px;
  top: 4px;
  width: 11px;
  height: 11px;
  border: 1px solid #ebebeb;
  background: #ffffff;
  border-radius: 0;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✓';
  position: absolute;
  top: 0;
  left: 6px;
  font-size: 15px;
  line-height: 1.4;
  color: #000000;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #fff9f9;
  background-color: #ffffff;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #fff9f9;
}
[type="checkbox"]:disabled + label {
  color: #aaaaaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted #ffffff;
}
/* hover style just for information */
.catalog_setting_price h3 {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.catalog_setting_size {
  float: left;
  margin-left: 114px;
  margin-right: 10px;
}
.catalog_setting_trend {
  float: left;
}
.catalog_setting_price {
  float: left;
  width: 262px;
}
.catalog_setting_watch {
  height: 50px;
  background-color: #f3f3f3;
  float: left;
  width: 100%;
  margin-top: 34px;
  display: flex;
  align-items: center;
}
.catalog_setting_sort {
  width: 153px;
  height: 30px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  display: flex;
  align-items: center;
  margin: 0 10px 0 9px;
}
.catalog_setting_sort p {
  margin-left: 13px;
  border-right: 1px solid #ebebeb;
  height: 100%;
  padding-top: 3px;
  padding-right: 8px;
}
.catalog_setting_sort select {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  border: none;
  outline: none;
  margin-left: 4px;
  width: 82px;
  height: 30px;
}
/*This will work for firefox*/
@-moz-document url-prefix() {
  .catalog_setting_sort select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: transparent url('img/arrow_sort.png') no-repeat right center;
    padding: 2px 30px 2px 2px;
    border: none;
    width: 71px;
    margin-right: 6px;
  }
  .catalog_setting_show select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: transparent url('img/arrow_sort.png') no-repeat right center;
    padding: 2px 30px 2px 2px;
    border: none;
    margin-right: 3px;
  }
}
.catalog_setting_show p {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin-left: 12px;
  border-right: 1px solid #ebebeb;
  height: 100%;
  padding-top: 5px;
  padding-right: 9px;
}
.catalog_setting_show {
  width: 119px;
  height: 30px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
.catalog_setting_show select {
  border: none;
  outline: none;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin-left: 8px;
  height: 30px;
}
.catalog_product {
  height: 364px;
}
.catalog_products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 49px;
}
.catalog_product_fon {
  width: 263px;
  height: 277px;
  background-color: #e9e9e9;
  display: flex;
  justify-content: center;
}
.block2_product:hover .catalog_product_fon {
  filter: brightness(35%);
}
.block2_product:hover .catalog_img_hover {
  filter: brightness(95%) !important;
}
.catalog_img {
  width: 100%;
  height: 277px;
}
.button_view_all {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 44px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  text-decoration: none;
  color: #4a4a4a;
  font-size: 16px;
  font-weight: bold;
}
.button_view_all:hover {
  border: 1px solid #ef5b70;
  color: #ef5b70;
}
.catalog_view {
  display: flex;
  justify-content: space-between;
  margin-left: 49px;
}